* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./img/wallpaper.png');
    background-size: cover;
    margin: 50px 0 0 0;
}

#poke-sec {
    width: 250px;
    height: 400px;
    margin: 0 auto;
}

.card-img-container {
    position: relative;
}

.card-img-top {
    display: block;
    width: 100%;
    height: auto;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
}

.card-text span {
    font-weight: bold;
}

.card-title {
    text-align: center;
}

#input {
    margin: 0 auto;
    width: 165px;
    border-radius: 4px;
    border-color: #373332;
    padding: 5px 10px;
}

#container-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
